/* body {
	background: #141414;
	color: #ffffff;
} */

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.image-size {
	height: 100%;
	width: 100%;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	padding: 20px;
	margin: 0;
	text-align: center;
}

.movie-text {
	text-align: center;
}

.movie-text h3 {
	font-size: 20px;
}

.movie-text p {
	font-size: 15px;
}

/* Modal  */
body.active-modal-popup {
    overflow-y: hidden;
}

.modal-popup {
	z-index: 10;
}

.modal-popup, .dark-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.dark-overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
	
  }

  .modal-image {
	height: 50%;
	width: 50%;
}

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}