/* body {
	background: #141414;
	color: #ffffff;
} */

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.image-size {
	height: 100%;
	width: 100%;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	padding: 20px;
	margin: 0;
	text-align: center;
}

.movie-text {
	text-align: center;
}

.movie-text h3 {
	font-size: 20px;
}

.movie-text p {
	font-size: 15px;
}